    /* Correction pour affichage de la citation sur le carousel */
    .welcome-area {
        position: relative;
    }
    .carousel-quote {
        position: absolute;
        bottom: 100px;
        width: 100%;
        text-align: center;
        background-color: rgba(0, 0, 0, 0.5);
        padding: 10px 20px;
        z-index: 1000;
    }
    .carousel-quote blockquote {
        margin: 0;
        color: #fff;
        font-size: 1.2rem;
        font-style: italic;
    }